extends layout

block content
    .container
        .row
            .col-md-8
                br
                input.form-control
                br
        .row
            .col-md-8
                input.form-control
                br
        .row
            .col-md-8
                input.form-control.tags-input
                br
                a.btn.btn-default test


