doctype 5
html
	head
		title EPAM Educational Videos
		link(rel='stylesheet', href='/stylesheets/main.css')
		link(rel='stylesheet', href='/stylesheets/customUser.css')
		script(src='/js/lib/jquery-1.10.2.min.js')
		script(src='/js/lib/bootstrap.min.js')   
		script(src='/js/lib/jquery.autoSuggest.packed.js')
		script(src='/js/main.js')
	body
		.container
				.row.header
					div.col-md-3
						img(src='/images/logo.png' alt='TTTTT')
					div.col-md-5.pull-right.inline 
						h1 EPAM Educational Videos	
				.row(style="height:20px")
					
		block content
			
						
